<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Theatre</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/addtheatre">Add-Theatre</a>
        <a class="navbar-brand" href="/searchtheatre">Search-Theatre</a>
        <a class="navbar-brand" href="/viewtheatre">View-Theatre</a>
        <a class="navbar-brand" href="/deletetheatre">Delete-Theatre</a>
        <a class="navbar-brand" href="/updatesearch">Update-Theatre</a>
        <a class="navbar-brand" href="/">Logout</a>
      </nav>
    <section class="bg-dark text-dark p-4 text-center">
        <div class="container">
            <center><h1> <span class="text-light">
                View All Theatre
            </span>
            </h1></center>

        </div>
    </section>
    <br>
    <div class="container bg-light">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Theatre Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in viewtheatre %}
                      <tr>
                        <td>{{i[1]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>